<div class="col-xs-3">
	<div class="category_table">
		<div><%= link_to 'レシピ詳細検索' ,search_recipes_path ,class: "btn btn-primary" %>
		</div>
		<h3>カテゴリー一覧</h3>
		<% categories.each do |parent| %>
			<div>
			<h5><strong><%= link_to category_all_index_recipe_path(parent) do %>
				 <%= parent.name %>　全て
				 <% end %></strong></h5>
				<% parent.category.each do |sub_category| %>
					<h6><%= link_to sub_category.name, category_index_recipe_path(sub_category) %></h6>
				<% end %>
			</div>
		<% end %>
	</div>
</div>