<div class="col-xs-2">
	<div class="category_table">
		<h2>カテゴリーの一覧</h2>
		<% categories.each do |category| %>
			<div>
			<h4><%= link_to category.name, category_index_recipe_path(category) %></h4>
				<% category.children.each do |sub_category| %>
					<h6><%= link_to sub_category.name, category_index_recipe_path(sub_category) %></h6>
				<% end %>
			</div>
		<% end %>
	</div>
</div>