<div class="conteiner">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<%= render 'category', categories: @categories, categories_children: @categories_children %>

			<div class="col-xs-8">
				<h2><strong><%= @categories.name %></strong>のレシピ一覧</h2>
					<%= render 'recipes_index', recipes: @recipes %>
			</div>
		</div>
	</div>
</div>
