<div class="conteiner">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2>新規レシピ登録</h2>
			<div class="row">
				<div class="col-xs-3">
					<h3>画像</h3>
				</div>
				<div class="col-xs-9">
					<h3>カテゴリー</h3>
					<h3>タイトル</h3>
					<h3>概要</h3>
				</div>
			</div>
			<div class="row">
				<div class="material_new">
					<h3>材料</h3>
				</div>
				<div class="prosesses_new">
					<h3>手順</h3>
				</div>
			</div>
			<div class="row">
				<h3>公開・非公開</h3>
			</div>
			<div class="action">
				<h3>投稿ボタン</h3>
			</div>
		</div>
	</div>
</div>