<div class="conteiner">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<h2>新規レシピ登録</h2>
			<!-- エラーメッセージ -->
			<% if @recipe.errors.any? %>
			    <div id="error_explanation" class="alert alert-danger">
			    	<ul>
				        <% @recipe.errors.full_messages.each do |message| %>
				            <li><%= message %></li>
				        <% end %>
			    	</ul>
			    </div>
			<% end %>
			<%= render 'form', recipe: @recipe %>
		</div>
	</div>
</div>

<!-- 画像選択した際に、選択した画像を表示させるjavascript -->
<script>
	document.getElementById('image_select').addEventListener('change', function (e) {
    // 1枚だけ表示する
    var file = e.target.files[0];

    // ファイルのブラウザ上でのURLを取得する
    var blobUrl = window.URL.createObjectURL(file);

    // img要素に表示
    var img = document.getElementById('file-preview');
    img.src = blobUrl;
});
</script>
