<div class="col-xs-3">
	<h2>ユーザー情報</h2>
	<%= link_to "編集する", edit_user_path(user),class: "btn btn-primary btn-lg" %>
	<table>
		<tbody>
			<tr>
				<td><%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg', class: "profile-thumb", fallback: "no_image.jpg" %>
				</td>
			</tr>
			<tr>
				<td><%= user.name %></td>
			</tr>
			<tr>
				<td><%= user.introduction %></td>
			</tr>
		</tbody>
	</table>
</div>
