<div class="col-xs-3">
	<div class="home_btn">
		<%= link_to '新規登録',new_user_registration_path,class: "btn btn-lg btn-block btn-blue" %>
	</div>
	<div class="home_btn">
		<%= link_to 'ログイン', new_user_session_path,class: "btn btn-lg btn-block btn-blue" %>
	</div>

</div>
