<div class="conteiner">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<%= render 'recipes/category', categories: @category_list %>
			<div class="col-xs-6">
				<h1>aaaaaaa</h1>
			</div>

			<% if user_signed_in? %>
			<%= render 'users/user_profile', user: @header_icon_user %>
			<% else %>
			<%= render 'homes/sign_up' %>
			<% end %>
		</div>
	</div>
</div>
