<div class="conteiner">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<%= render 'recipes/category', categories: @category_list %>
			<div class="col-xs-9">
				<div class="row">
					<h3>いいね数ランキング</h3>
					<%= render 'recipes/recipes_index', recipes: @favorite_rank %>
				</div>
				<div class="row">
					<h3>新しい投稿レシピ</h3>
					<%= render 'recipes/recipes_index', recipes: @new_recipe %>
				</div>
			</div>

			<%# if user_signed_in? %>
				<%#= render 'users/user_profile', user: @header_icon_user %>
			<%# else %>
				<%#= render 'homes/sign_up' %>
			<%# end %>
		</div>
	</div>
</div>
