/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

// 全体
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
　font-family: Arial;
}

// header
header{
	a {
	color: #04949c;
	font-size: 16px;
	font-weight: bold;
}
	li {
	font-size: 15px;
	padding-top: 8px;
}
	ul {
		.topmenu :hover{
	 	    color: #04949c;
	        background-color: white;
    	}
    }
    .navbar-left{
    	margin-top: 10px;
    }
}
.headerlogo{
	height: 60px;
	width: auto;
}
// headerの新規登録ボタン
.btn-circle {
	margin-left: 35px;
	width: 48px;
	height: 48px;
	padding: 0;
	font-size: 2.5em;
	line-height: 1;
	border-radius: 25px;
}

// body
.contents{
	padding-top:85px;
	min-height: 98vh;
    position: relative;/*←相対位置*/
    padding-bottom: 40px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
.title{
	color: #036166;
}

// footer
footer {
	text-align: center;
	width: 100%;
	height: 40px;
	position: absolute;/*←絶対位置*/
	a {
		margin-top: 10px;
		color: #04949c;
		font-size: 15px;
	}

}
// devise関係
.devise-form{
	padding: 20px 20px 0 20px;
	border:0.5px solid #747474;
	border-radius: 5px;
	border-collapse: separate;
  	border-spacing: 0;
  	box-shadow: 2px 2px 3px #aaaaaa;
}
.devise-title{
	margin-top: 20px;
	font-size: 2em;
	text-align: center;
	color: #04949c;
}
.devise-table{
		th{
			color: #747474;
			font-size: 1.1em;
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}
		td{
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}
}


// refile_image
#material-image{
	width: 80px;
	height: 70px;
}
#procedure-image{
	width: 100px;
	height: 80px;
}
#image_select {
	display: none;
}
.item_attachment_field{
	margin: 1em auto;
	width: 70% !important;
}

// ↓ボタンの色　btn-blue
.btn-blue,
.btn-blue.disabled, .btn-blue:disabled {
  color: #ffffff;
  background-color: #04949c;
  border-color: #04949c;
}

/* focusされた時の枠線の色 */
.btn-blue:focus, .btn-blue.focus,
.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 183, 107,0.5)
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-blue:hover {
  color: #ffffff;
  background-color: #036166;
  border-color: #036166;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #ffffff;
  background-color: #036166;
  border-color: #036166;
}
// ↑ボタンの色 btn-blue　へ

// ↓ボタンの色　btn-red
.btn-red,
.btn-red.disabled, .btn-red:disabled {
  color: #ffffff;
  background-color: #9c0549;
  border-color: #9c0549;
}

/* focusされた時の枠線の色 */
.btn-red:focus, .btn-red.focus,
.btn-red:not(:disabled):not(.disabled):active:focus, .btn-red:not(:disabled):not(.disabled).active:focus,
.show > .btn-red.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 183, 107,0.5)
}

/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-red:hover {
  color: #ffffff;
  background-color: #e6076b;
  border-color: #e6076b;
}

/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-red:not(:disabled):not(.disabled):active, .btn-red:not(:disabled):not(.disabled).active,
.show > .btn-red.dropdown-toggle {
  color: #ffffff;
  background-color: #e6076b;
  border-color: #e6076b;
}
// ↑ボタンの色 btn-red　へ

// #036166(文字　濃青緑)
// #04949c　(青緑)
// #848484（薄灰色）
// #747474（濃灰色）
// #fafae1（ヘッダー黄色）
