// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// topページ
.fovo_rank{
		margin-top: 20px;
		width: 100%;
		border:0.5px solid #747474;
		border-radius: 5px;
		border-collapse: separate;
  	border-spacing: 0;
  	box-shadow: 2px 2px 3px #aaaaaa;
    	h3{
  			color: #747474;
  			border-bottom: solid 3px #04949c;
  		}
  		p{
  			font-size: 1.1em;
  			vertical-align: top;
  		}
	.favo_rank_contents{
		margin: 0 20px;
  		.favo_recipe_div{
  			margin: 10px 20px;
			float: left;
  		}
  		.favo_heart{
  			float: right;
  		}
  		.glyphicon-heart{
  			align: right;
  			color: #04949c;
  		}
  	}
}
.update_recipe_rank{
		margin-top: 30px;
		width: 100%;
		border:0.5px solid #747474;
		border-radius: 5px;
		border-collapse: separate;
  	border-spacing: 0;
  	box-shadow: 2px 2px 3px #aaaaaa;
      h3{
  	  	border-bottom: solid 3px #04949c;
  			color: #747474;
  		}
  		p{
  			text-align: right;
  		}
  		.update_recipe_contents{
  			margin: 0 20px;
  		}
}

// Aboutページ
.about{
  h2{
    margin-bottom: 20px;
    font-weight: bold;
    color: #04949c;
    text-shadow:2px 1px 2px #aaaaaa;
  }
  h3{
    color: #747474;
  }
  p{
    text-align: center;
    color: #747474;
    font-size: 1.4em;
    span{
      font-weight: bold;
      color: #04949c;
      border-bottom: solid 1px #747474;
    }
  }
}

.about-title{
  height: 40px;
  width: auto;
}
.about_contents{
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    border:0.5px solid #747474;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 2px 2px 3px #aaaaaa;
}
.can_about{
    background-color: #fafae1;
    padding: 20px 20px 20px 20px;
    margin: 20px auto;
    width: 70%;
    text-align: left;
    color: #747474;
    font-size: 1.2em;
  ul{
    margin: 5px;
    padding: 5px;
  }
  li{
    padding: 5px;
  }
.login_btn{
  margin: auto;
  display: flex;
  justify-content: space-between;
}
}