// Place all the styles related to the materials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.material_new{
	margin: 20px 0;
	padding-bottom: 20px;
	width: 100%;
	border:0.5px solid #747474;
	border-radius: 5px;
	border-collapse: separate;
	border-spacing: 0;
	box-shadow: 2px 2px 3px #aaaaaa;
	.material_new_margin{
		margin: 0 20px;
		h2{
	  		color: #747474;
	  		border-bottom: solid 3px #04949c;
	  		}
		h3{
	  		color: #747474;
	  		margin: 10po;
	  		}
	  	.outline{
	  		margin-top: 30px;
	  		font-size: 1.6em;
	  	}
	  	.is_closed{
	  		font-size: 0.8em;
	  		float: right;
	  	}
	  	.step_title{
	  		padding: 5px 0;
	  		color: #000000;
	  		border-top: solid 2px #9c0549;
	  		border-bottom: solid 2px #9c0549;
	  	}
	  	.step_table{
	  		border-bottom: solid 2px #9c0549;
	  	}
	}
	.recipe_show_image{
		text-align: center;
		margin: 30px 0;
	}
}
