// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application.scss";

// サイドバー　カテゴリー一覧
.search_btn{
	margin-top: 20px;
}
.category_list{
	margin-top: 30px;
	table{
		@extend .main_frame;
	}
	th{
		font-size: 1.2em;
		color: #fff;
		background-color: #747474;
		border-radius: 5px;
		text-align: center;
	}
}
// 検索テーブル
.search_table{
		margin: 20px 0;
		@extend .main_frame;
  		h2{
  			margin: 20px;
  			color: #747474;
  			border-bottom: solid 3px #04949c;
  		}
  		.search_form{
  			margin: 20px;
  		}
		th{
			color: #747474;
			font-size: 1.1em;
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}
		td{
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}

}

// レシピ一覧
.recipe_no_message{
	font-size: 2em;
	margin: 50px 0;
}
.recipes_index{
		margin-top: 20px;
		width: 100%;
		@extend .main_frame;
  		h2{
  			color: #747474;
  			border-bottom: solid 3px #04949c;
  		}
  		.recipes_index_contents{
  			margin: 0 20px;
  		}
}
.recipe_div{
	margin: 20px;
	float: left;
}
.recipe_image_div{
	margin-top: 25px;
	text-align: center;
}

// _recipe_index 部分テンプレート
.favo_heart{
	float: right;
	color: #04949c;
}

// レシピ詳細

.recipe_show{
	margin-top: 20px;
	width: 100%;
	@extend .main_frame;

	.recipe_show_margin{
		margin: 0 20px;
		h2{
	  		color: #747474;
	  		border-bottom: solid 3px #04949c;
		  	p{
		  		font-size:0.5em;
		  	}
	  		}
		h3{
	  		color: #000000;
	  		padding-top: 5px;
	  		border-top: solid 1px #04949c;
	  		border-bottom: solid 1px #04949c;
	  		}
	  	.outline{
	  		margin-top: 30px;
	  		font-size: 1.6em;
	  	}
	  	.post_user{
	  		float: right;
	  	}
	  	.current_user_btn{
	  		float: right;
	  	}

	}
	.recipe_show_image{
		text-align: center;
		margin: 30px 0;
	}
}
.material_table{
		th{
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}
		td{
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}
}
.procedure_table{
		th{
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}
		td{
			border-top: 0px !important;
		  	border-bottom: 0px !important;
		}
}
.comment_show{
	margin: 20px 0;
	width: 100%;
	@extend .main_frame;

	.recipe_comment_margin{
		margin: 0 20px;
		h3{
	  		color: #747474;
	  		border-bottom: solid 1.5px #04949c;
	  	}
	  	.not_login{
		margin: 20px 0;
		color: #747474;
		border-top: 1px solid;
		border-bottom: 1px solid;
		}
  	}
}
// レシピ新規登録・編集
.recipe_new{
	margin: 20px 0px;
	padding-bottom: 30px;
	width: 100%;
	@extend .main_frame;

	.recipe_new_margin{
		margin: 0 20px;

		h3{
			margin-top: 30px;
	  		color: #747474;
	  		border-bottom: solid 3px #04949c;
	  		}

	}
}
.new_btn{
	margin-top: 30px;
}
.recipe_new_image{
	text-align: center;
	margin: 30px 0;
}