// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// サイドバー　カテゴリー一覧
.search_btn{
	margin-top: 20px;
}
.category_list{
	margin-top: 30px;
	table{
		border:0.5px solid #747474;
		border-radius: 5px;
		border-collapse: separate;
  		border-spacing: 0;
	}
	th{
		font-size: 1.2em;
		color: #fff;
		background-color: #747474;
		border-radius: 5px;
		text-align: center;
	}
}

// レシピ一覧
.recipe_index{

}
.recipe_div{
	margin: 10px;
	float: left;
}
.recipe_image_div{
	margin-top: 25px;
	text-align: center;
}
.recipe_title{
	color: #747474;
	font-weight: bold;
}
